*{
  margin: 0px;
}
 #nav-bar{
  text-decoration: crimson;
 }
 .main{
  width:600px;
  margin-top: 100px;
  margin-left:80px;
  height: 600px;
 }
 /* images and places are positions and fixing at a particular place */
 #right-content{
  position: relative;
  left: 550px;
  bottom:400px;
 }
 .img3{
  width: 500px;
  height:450px;
 } 
 #button-2{
  position: relative;
  top: 100px;
  background-color:aqua;
 }
 div>h3{
  font-size: 30px;
 }
 div>p{
  font-style:normal;
  font: bold;
 }
 /* 3rd page begins and connecting with above pages  */
 .right-image{
  width: auto;
  height: 500px;
 }
 .pic1,.pic2,.pic3{
  width: 600px;
  height: 100px;
  display: flex;
  margin: 20px;
 }
 #cont-left,#cont-left-1,#cont-left-2{
  margin-left: 15px; 
 }
 .parent{
  display:flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-bottom: 30px;
 }
 /* ends of 3rd page right-image */
 /* lets start 4th page------------------------------------------------------------ */
  #box-content{
    width: 300px;
    height:350px;
    background-color: white;
    text-align: center;
    border: solid 2px black;
    padding-top: 30px;
    margin-top: 100px;
    margin-left: 60px;
     
  }
  .container{
    background-color: darkblue;
    width:auto;
    height:650px;
    display: flex;
    flex-wrap: wrap;
      
  } 
h3{
  font-weight: bold;
} 
input{
  border-radius:78px;
  margin-top: 20px;
  background-color: aqua;
  width: auto;
  height: 40px;

}
#div-1{
    width: 300px;
    height: 290px;
    background-color: azure;
    border: solid 2px white;
    align-items: center; 
  }
  #div-2{
    width: 300px;
    height: 290px;
    background-color: azure;
    border: solid 2px white;
    margin: 25px;
  }
  #div-3{
    width: 300px;
    height: 290px;
    background-color: azure;
    border: solid 2px white;
    
  }
  
  .bten-3{
    margin-top: 15px;
    border-radius: 75px;
    background-color: lightskyblue;
    border: none;
    padding: 9px;
  }
  .parent-body{
    background-color: dodgerblue;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 500px;
    align-items: center;
    justify-content: center;
     
  }
  .cont-1{ 
    padding-top: 40px;
  justify-items: center;
  }
#h3{
  padding-bottom:5px;
}
 #p-1{
  padding-left: 10px;
 }
 /* ------------------------------------------------- */
.left-content-52{
  width:550px;
  height: 550px;
} 
#bten-52{
  margin: 10px;
  border-radius: 75px;
  border-style: none;
  padding: 8px;
  background-color: aqua;
}
.right-content-52{
  margin: 20px;
  padding: 30px;
  width:450px ;
  height:auto ;
  color:black;
  background-color: rgb(215, 205, 193);
   
} 
.content-52{
  display: flex;  
  margin-left: 80px;
  margin-top: 30px;
}
 .heading-51{
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
 } 
 .left-field{
  background-color: rgb(13, 227, 216);
  height: 450px;
  width:auto;
   align-content: center;
   justify-items: center;
  
 }
 #left-input{
  background-image: url( https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtXuvj8SwCkr8kgPI0gELn1OIuDJMFzJRmcg&s);
  border: none;
  width: 150px;
  border-radius: 0%; 
 padding-left: 30px;
 margin: 30px;
 }
 /* #right-input{
  background-image: url( https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtXuvj8SwCkr8kgPI0gELn1OIuDJMFzJRmcg&s);
  border: none;
  width: 230px;
  border
 } */
  #text-area2{
    width: 400px;
    height: 100px;
    padding: 10px; 
     
  }
  .bottom-page{
    display: flex;
    width: auto;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom:40px ;

  } 
  #img-f1{
    width: 40px;
    height: 30px;
    background-color: dodgerblue;
    margin: 10px;
  }
  #img-f2{
    width: 40px;
    height: 30px;
    background-color: dodgerblue;
    margin: 10px;
  }
  #img-f3{
    margin: 10px;
    width: 40px;
    height: 30px;
    background-color: dodgerblue;
  }
  #img-f4{
    width: 30px;
    height: 25px;
    background-color: dodgerblue;
    margin: 10px;
  }
  #img-f5{
    width: 40px;
    height: 35px;
    background-color: dodgerblue;
    margin: 10px;
  }
  .footer{
    width: auto;
    height: 30px;
    display: inline-flex; 
    margin: 30px;
    padding: 10px;
  }
  #inner-footer2{
    margin-left: 250px;
     
  }